body {
    background-color: var(--background1);
    color: var(--text);
}

#content-div {
    width: 60%;
    height: 100vh;
    text-align: center;
    margin: 10%;
    margin-left: 40vh;
}

#content-div > p {
    padding: 6%;
}